/.idea/
# Pythonキャッシュ
__pycache__/
*.pyc

# 仮想環境
.venv/
venv/
env/

# 出力結果やテスト用ファイル
*.dxf
*.dak
*.png
*.jpg
*.jpeg
*.log
*.tmp
*.bak
*.zip
*.tar.gz
*.pdf
*.docx
*.xlsx
*.csv
*.json
*.xml
*.exe
*.spec
*.dll
*.so
*.o
*.obj
*.out
*.toc
*.pkg
*.txt
*.html
*.css
*.pyz